.browsehappy{
	font-size: 12px;
	text-decoration: blink;
}

* { Box-sizing: border-box }

html, body{
	height: 100%;
	width: 100%;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	display: block;
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear:both;
}

.wrapper{
	/*display: table;*/
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper:after{
	content: "";
	/*display: block;*/
	height: 61px;
}

/*Стили основного блока*/
.content{
	margin-top: 36px;
}

.conteiner{
	width: 960px;
	margin: 0 auto;
}

/*Боковая панель*/
.sidebar{
	float: left;
	width: 250px;
}

/*Стили меню*/
.nav{
	margin: 0;
	padding: 0;
}

.nav-item{
	list-style: none;
	min-height: 54px;
	border: 1px solid;
	border-color: #c5c5c5;
	background-image: -webkit-linear-gradient(left, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(left, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: linear-gradient(to right, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.nav-item:first-child{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.nav-item:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/*Текст ссылок на другие страницы*/
.nav-item-link{
	font-size: 20px;
	font-family: 'open_sanssemibold';
	color: #727070;
	line-height: 1.1;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	margin: 16px 0 16px 28px;
	text-decoration: none;
	display: inline-block;
}

/*Текущая страница*/
.activ {
	background-color: #bfbfbf;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -moz-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -o-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -ms-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: linear-gradient(to top, #3eb799, #7ee8ce);
}

/*Пункт меню под указателем мыши*/
.nav-item:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	display: block;
}

/*Меняем цвет шрифта для активной страницы*/
.activ .nav-item-link{
	color: #1e7465;
}

/*Меняем цвет шрифта для активной страницы под курсором*/
.activ:hover .nav-item-link{
	color: #727070;
}

/*Стили контактов*/
.contacts{
	margin-top: 36px;
}

.contacts-title{
	vertical-align: middle;
	padding-left: 28px;
	padding-top: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 42px;
	background-image: -webkit-linear-gradient(left, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: -o-linear-gradient(left, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: linear-gradient(to right, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
	font-size: 20px;
	font-family: "open_sansregular";
	color: rgb(208, 152, 44);
	line-height: 1.1;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}		

.contacts-items{
	list-style: none;
	margin: 0;
	padding: 0;
}

.contacts-item{
	min-height: 38px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
}

.contacts-item-link{
	font-size: 14px;
	font-family: 'open_sansregular';
	color: #727070;
	line-height: 1.2;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	margin: 0px auto 0px 38px;
	text-decoration: none;
	display: inline-block;
}

.contacts-item:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/*Пункт контактов под указателем мыши*/
.contacts-item:hover{
	background-color: #fff;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(224,197,145,.45), rgba(251,249,249,0));
	display: block;
}

.contacts-item:hover .contacts-item-link{
	text-decoration: underline;
}

.contacts-icon:before{
	content: " ";
	background-image: url(../img/contacts_sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	/*width: 100px;*/
	/*Выравнивание по вертикали*/
	/*position: absolute;
	top: 0;*/
	/*Внимание!Не работает в старых IE (считайте вручную для каждой иконки)*/
	/*transform: translateY(-50%) translateX(-50%); */
	/*left: 20px;*/
}

.icon-mail:before{
	width: 40px;
    height: 38px;
    background-position: -5px -5px;
}
/*
.contacts-icon {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-email {
    width: 40px;
    height: 38px;
    background-position: -5px -5px;
}

.icon-phone {
    width: 40px;
    height: 38px;
    background-position: -5px -53px;
}

.icon-skype {
    width: 40px;
    height: 38px;
    background-position: -5px -101px;
}
<i class="sprite sprite-email"></i>
<i class="sprite sprite-phone"></i>
<i class="sprite sprite-skype"></i>

*/

/*Основной блок с записями*/
.articles{
	float: right;
	width: 650px;
}

.empty{
	content: "";
	height: 61px;
}
