@import url(header.css);
@import url(footer.css);
@import url(../fonts/stylesheet.css);

* { box-sizing: border-box }

html, body{
	height: 100%;
	width: 100%;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	display: block;
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear:both;
}

.wrapper{
	display: table;
	height: 100%;
	min-width: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper:after{
	content: "";
	/*display: block;*/
	height: 61px;
}

/*Стили основного блока*/
.content{
	margin-top: 36px;
}

.conteiner{
	width: 960px;
	margin: 0 auto;
}

/*Боковая панель*/
.sidebar{
	float: left;
	width: 250px;
}

/*Стили меню*/
.nav{
	margin: 0;
	padding: 0;
}

.nav-item{
	list-style: none;
	min-height: 54px;
	border: 1px solid;
	border-color: #c5c5c5;
	background-image: -webkit-linear-gradient(left, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(left, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: linear-gradient(to right, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f9', endColorstr='#e5e3e2',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.nav-item:first-child{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.nav-item:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/*Текст ссылок на другие страницы*/
.nav-item-link{
	font-size: 20px;
	font-family: 'open_sanssemibold';
	color: #727070;
	line-height: 1.1;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	padding: 16px 0 16px 28px;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

/*Текущая страница*/
.activ {
	background-color: #bfbfbf;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	box-shadow: 0 2px 1px rgba(9,9,9,.16), inset 0 1px rgba(255,255,255,.3);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -moz-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -o-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: -ms-linear-gradient(bottom, #3eb799, #7ee8ce);
	background-image: linear-gradient(to top, #3eb799, #7ee8ce);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ee8ce', endColorstr='#3eb799',GradientType=0 ); /* IE6-9 */
}

/*Пункт меню под указателем мыши*/
.nav-item:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c2c0c0',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	display: block;
}

/*Меняем цвет шрифта для активной страницы*/
.activ .nav-item-link{
	color: #1e7465;
}

/*Меняем цвет шрифта для активной страницы под курсором*/
.activ:hover .nav-item-link{
	color: #727070;
}

/*Стили контактов*/
.contacts{
	margin-top: 36px;
}

.contacts-title{
	vertical-align: middle;
	padding-left: 28px;
	padding-top: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 42px;
	font-size: 20px;
	font-family: "open_sanssemibold";
	color: rgb(208, 152, 44);
	line-height: 1.1;
	background-color: #fffbf9;
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	box-shadow: 0 2px 1px rgba(9,9,9,.17), inset 0 1px rgba(255,255,255,.25), inset 0 0 3px rgba(246,247,247,.15);
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -moz-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -o-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: -ms-linear-gradient(bottom, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	background-image: linear-gradient(to top, #dcb15d, #f4cc7e 89%, #f4cc7e 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4cc7e', endColorstr='#dcb15d',GradientType=0 ); /* IE6-9 */
}		

.contacts-items{
	list-style: none;
	margin: 0;
	padding: 0;
}

.contacts-item{
	min-height: 38px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f6f5f5',GradientType=0 ); /* IE6-9 */
}

.contacts-item-link{
	font-size: 14px;
	font-family: 'open_sansregular';
	color: #727070;
	line-height: 1.2;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	margin: 10px auto 0px 38px;
	text-decoration: none;
	float: left;
}

.contacts-item:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/*Пункт контактов под указателем мыши*/
.contacts-item:hover{
	background-color: #fff;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	border: solid 1px #d6d5d3;
	background-image: -webkit-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(224,197,145,.45), rgba(251,249,249,0));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffffe', endColorstr='#f3e8d4',GradientType=0 ); /* IE6-9 */
	display: block;
}

.contacts-item:hover .contacts-item-link{
	text-decoration: underline;
}

.contacts-item .contacts-icon{
	float: left;
	margin-left: 20px;
	background-image: url(../img/contacts_sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.icon-mail{
	width: 40px;
    height: 38px;
    background-position: -5px -5px;
}

.icon-phone{
	width: 40px;
    height: 38px;
    background-position: -5px -53px;
}

.icon-skype{
	width: 40px;
    height: 38px;
    background-position: -5px -101px;
}

/*Основной блок с записями*/
.articles{
	float: right;
	width: 650px;
}

.article{
	border-radius: 5px;
	margin-bottom: 38px;
	background-color: #f5f4f3;
	-webkit-box-shadow: 0 5px 10px rgba(236,232,227,.75), inset 0 6px 6px #fff;
	-moz-box-shadow: 0 5px 10px rgba(236,232,227,.75), inset 0 6px 6px #fff;
	box-shadow: 0 5px 10px rgba(236,232,227,.75), inset 0 6px 6px #fff;
	border: solid 1px #c3c2c2;
	background: #fbfbfa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfbfa 0%, #f0eeed 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fbfbfa 0%,#f0eeed 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fbfbfa 0%,#f0eeed 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f5', endColorstr='#f0eeed',GradientType=0 ); /* IE6-9 */
}

.article-name{
	margin: 0;
	background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a7a7', endColorstr='#7c7979',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	font-size: 24px;
	font-family: 'open_sanssemibold';
	color: rgb(238, 237, 236);
	line-height: 0.97;
	text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
	padding: 16px 42px;
	width: 100%;
	/*min-height: 55px;*/
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.article-body{
	padding: 35px;
}

.article-photo{
	float: left;
	margin-right: 35px;
	position: relative;
	width: 155px;
	height: 155px;
	border-radius: 50%;
	border: 10px solid #FFF;
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(128,128,128) 51%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(128,128,128) 51%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(128,128,128) 51%, rgb(255,255,255) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f5', endColorstr='#f0eeed',GradientType=0 ); *//* IE6-9 */
	box-shadow: 3.236px 2.351px 26.88px 5.12px rgba(236, 232, 227, 0.75),inset 0px 2px 24px 0px rgba(121, 121, 121, 0.23);
	overflow: hidden;
}

.article-photo .photo-img{
	width: 100%;
	height: auto;
}

.article-text{
	float: left;
	width: 378px;
}

.article-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.article-item{
	margin-bottom: 12px;
}

.article-item-what{
	float: left;
	font-size: 14px;
	font-family: 'open_sanssemibold';
	color: #727070;
}

.article-item-info{
	margin-left: 9px;
	float: left;
	font-size: 14px;
	font-family: 'open_sansregular';
	color: #727070;
	overflow: hidden;
}

.info-width{
	max-width: 270px;
}

.info-narrow{
	max-width: 215px;
}

.article-skills{
	margin-left: 9px;
	float: left;
	overflow: hidden;
	max-width: 230px;
}

.article-item-skills{
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.skills-item{
	position: relative;
	display: inline-block;
	font-family: 'open_sanssemibold';
	font-size: 9px;
	line-height: 18px;
	color: #1e7465;
	text-transform: uppercase;
	height: 22px;
	background: url('../img/skill-body.png') repeat-x;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
	margin: 0 6px 4px 14px;
	padding: 2px 2px 0 4px;
}

.skills-item:before {
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	width: 10px;
	height: 22px;
	margin-right: -1px;
	background: url('../img/skill-left.png') no-repeat;
}

.skills-item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	width: 6px;
	height: 22px;
	background: url('../img/skill-right.png') no-repeat;
}

.job-and-education{
	width: 100%;
}

.article-about-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.article-about-item:before{
	content: " ";
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	display: block;
	width: 100px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left: 38px;
}
.no-csstransforms .article-about-item:before{
	top: 14px;
	left: 10px;
}

.icon-briefcase:before{
	width: 54px;
    height: 55px;
    background-position: -5px -5px;
}

.icon-school:before{
	width: 54px;
    height: 55px;
    background-position: -5px -200px;
}

.icon-graduate:before{
	width: 54px;
    height: 55px;
    background-position: -5px -135px;
}

.icon-file:before{
	width: 54px;
    height: 55px;
    background-position: -5px -70px;
}

.article-item-where{
	width: 100%;
	display: block;
	color: #727070;
	font-size: 14px;
	font-family: 'open_sanssemibold';
	min-width: 460px;
}

.article-item-period{
	width: 100%;
	display: block;
	color: #727070;
	font-size: 14px;
	font-family: 'open_sansregular';
	min-width: 460px;
}

.article-about-item{
	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 96px;
	position: relative;
}

.job, .education{
	padding-top: 15px;
	padding-bottom: 15px;
}

.article-about-item:not(:last-child) {
	width: 100%;
    border-bottom: 2px solid #dbdbda;
    box-shadow: 0 0 2.6px 0.5px rgba(251, 251, 251, 0.75);
}

