.works-text{
  width: 100%;
}

.works-list:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
}

.works-list {
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: justify;
  text-justify: newspaper;
  list-style: none;
}

.projects-item {
  vertical-align: top;
  display: inline-block;
  width: 168px;  
  position: relative;
  color: #727070;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #d3d2d2;
  overflow: hidden;
  margin-bottom: 50px;
}

.projects-item .project-img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.projects-item .zoom-wrapper {
  position: absolute;
  width: 100%;
  top: 55px;
  text-align: center;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.projects-item:hover .zoom-wrapper {  
  transform: scale(1);
  -webkit-transform: scale(1);
}

.projects-item .zoom-link {
  font-size: 12px;
  font-family: "open_sanssemibold";
  border: 1px solid #eff3f7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 0 4px;
}

.projects-item:hover .project-img{
  -moz-opacity: 0.20;
  opacity:.20;
  filter: alpha(opacity=20);
}

.projects-item:hover .hover-img{
  background-color: #6f6d6d; 
}

.projects-item-description{
  border-top: solid 1px #bdbdbd;
  padding-bottom: 8px;
  padding-top: 8px;
  line-height: 1.333333;
  font-size: 12px;
  font-family: 'open_sanslight';
  text-align: center;
}

.projects-item .add-project-img{
  margin-top: 26px;
  box-sizing: border-box;
  width: 54px;
  height: 55px;
}

.add-description{
  padding-bottom: 26px;
  padding-top: 12px;
  font-size: 14px;
  font-family: "open_sanssemibold";
  color: rgb(114, 112, 112);
  line-height: 1.571;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.add-item{
  background-image: -moz-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}
